@import"bottombar.css" ;
@import"footer.css" ;
@import"link.css" ;

body {
	font-family: 'Monospace';
	font-style: bold ;
    background: #c6a4c4 ;
	color: #000000 ;
    display: flex;
    min-height: 100vh;
    font-size: 20px;
    flex-direction: column;
}

main {
    min-width: 1500px ;
	max-width: 1000px ;
	margin: auto ;
}

hr {
    background-color: #000000 ;
}

img {
	max-width: 100% ;
}

header h1 {
	text-align: left ;
    font-size: 100px;
}

