@import"footer.css" ;
@import"bottombar.css" ;

body {
	font-family: 'Times-New-Roman';
	font-style: bold ;
    font-size: 20px;
    background:  #ffddd8  ;
	color: #000000 ;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
	max-width: 1500px ;
    margin: auto ;
}

img {
	max-width: 100% ;
}

header h1 {
	font-family: 'Monospace';
	text-align: left ;
    font-size: 75px;
	font-style: regular ;
    text-decoration: none ;
}


mark {
    background: #000000 ;
	color: #FFFFFF ;
	font-family: 'Monospace';
	font-style: bold ;
}


