body {
	font-family: 'Monospace';
	font-style: bold ;
    background: #a27b9f ;
	color: #000000 ;
}

main {
	max-width: 800px ;
	margin: auto ;
}

img {
	max-width: 100% ;
}

header h1 {
	text-align: left ;
    font-size: 100px;
}


footer {
	text-align: center ;
	clear: both ;
}

/* For TAGLIST.HTML */
.taglist {
	text-align: center ;
	clear: both ;
}


